* {
    --column-size: 10%;
    --bg-color: #222;
    --fg-color: #DDD;
    --ff-color: #F74C00;
    --wall-color: #444;
    --p1-color: red;
    --p2-color: green;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: var(--fg-color);
}

body {
    height: 100%;
}

#frame {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#frame {
    display: flex;
    flex-direction: column;
}

#playfieldbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playfield {
    width: 100%;
    display: grid;
    grid-template-columns:
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size);
    border-bottom: 4px solid var(--ff-color);
}

#playfield > div {
    border-left: 2px solid var(--wall-color);
    border-right: 2px solid var(--wall-color);
    padding: 0 4px 0 4px;
}

#playfield > div:first-child {
    border-left: 4px solid var(--wall-color);
}

#playfield > div:last-child {
    border-right: 4px solid var(--wall-color);
}

img {
    width: 100%;
}

#energybox {
    height: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}

#energybox > div {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 2px 0 2px 0;
}

#energybox > div:nth-child(2) {
    justify-content: flex-end;
}

#energybox > div:nth-child(1) {
    padding-right: 1px;
}

#energybox > div:nth-child(2) {
    padding-left: 1px;
}

.energy {
    height: 100%;
}

#p1energy {
    background-color: var(--p1-color);
    width: 100%;
}

#p2energy {
    background-color: var(--p2-color);
    width: 100%;
}

#scorebox {
}
