@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}

* {
    --column-size: 10%;
    --bg-color: #222;
    --fg-color: #DDD;
    --ui-color: #AAA;
    --ff-color: #F74C00;
    --wall-color: #444;
    --p1-color: #ffbe06;
    --p2-color: #4198f7;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: var(--fg-color);
}

body {
    height: 100%;
}

#frame {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#frame {
    display: flex;
    flex-direction: column;
}

#moves {
    width: 100%;
    display: grid;
    grid-template-columns:
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size);
}

#moves > div {
    height: 1.5em;
    max-height: 1.5em;
    text-align: center;
    font-weight: bold;
}

#playfieldbox {
}

#playfield {
    width: 100%;
    display: grid;
    grid-template-columns:
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size)
    var(--column-size);
    border-bottom: 4px solid var(--ff-color);
}

#playfield > div {
    border-left: 2px solid var(--wall-color);
    border-right: 2px solid var(--wall-color);
    padding: 0 4px 0 4px;
}

#playfield > div:first-child {
    border-left: 4px solid var(--wall-color);
}

#playfield > div:last-child {
    border-right: 4px solid var(--wall-color);
}

img {
    width: 100%;
}

#energybox {
    display: grid;
    grid-template-columns: 50% 50%;
}

#energybox > div {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 2px 0 2px 0;
}

#energybox > div:nth-child(2) {
    justify-content: flex-end;
}

#energybox > div:nth-child(1) {
    padding-right: 1px;
}

#energybox > div:nth-child(2) {
    padding-left: 1px;
}

.energy {
    height: 2px;
}

#p1energy {
    background-color: var(--p1-color);
    width: 100%;
}

#p2energy {
    background-color: var(--p2-color);
    width: 100%;
}

#statusbox {
}

#statusbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#statusbox > div {
    height: 1.5em;
    max-height: 1.5em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 2px;
    color: var(--ui-color);
}

#statusbox > div:first-child {
    margin-left: 0;
}

#statusbox > div:last-child {
    margin-right: 0;
}

#statusbox > #status-msg {
    flex-basis: 100%;
    text-align: center;
}
